.legacy-content {
  display: contents;
}

.legacy-content img {
  height: auto;
  max-width: 100%;
}

.legacy-content .highlight-container {
  max-width: 100%;
  overflow-x: auto;
}

.legacy-content table {
  max-width: 100%;
}
